html{
    height: 100%;
}
body{
    height: 100%;
    background: rgb(34,193,195);
    background: linear-gradient(135deg, rgba(34,193,195,1) 23%, rgba(253,247,45,1) 100%); }


.galeria{
    display: grid;
    padding-left: 5%;
}

.container-card-class{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 2rem;
}

.itemCard{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: rgb(226, 206, 117);
    max-width: 100%;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
} 

.btn-detail-item{
    font-weight: bold;
    font-size: large;
    border-radius: 30% 60%;
    background-color: aquamarine;
}

.contador-click{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 25rem;
    height: 50px;
}
.btn-min, .btn-max{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color:  rgba(34,193,195,1);
    color:rgb(30, 15, 240);
    font-size: 1.5rem;
    font-weight: bold;
    width: 30%;
    border-radius: 20% 50%;
}

.btn-add-cart{
    background-color:  rgba(34,193,195,1);
    color: rgb(30, 15, 240);
    font-weight: bold;
    width: 100%;
    border-radius: 20% 70%;
}
.num-item{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    width: 50%;
}
.i-detail-product{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 8%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.card-img-style{
    border-radius: 30% 50%;
     height: 30rem; 
}
.card-img-style-i{
    border-radius: 20% 50%;

}
.i-list-detail{
    background-color: rgb(226, 206, 117);
    width: 80%;
    height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: flex-start;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 10%;
}

.carrito-container, .carrito-container-total{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
margin-top: 3%;
font-size: 1.3rem;
font-weight: bold;
border: 2px solid rgb(226, 206, 117);
}

.carrito-container-total{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}