html{
    height: 100vh;
}
body{
    height: 100vh;
    background: linear-gradient(135deg, rgba(34,193,195,1) 23%, rgba(253,247,45,1) 100%); 
    font-family: 'Varela Round', sans-serif ;
}


.navBar-Container{
    height: 2.5rem;
    max-width: 100%;
    margin-top: 2%;
    background: linear-gradient(135deg, rgba(253,247,45,1)  20%, rgba(34,193,195,1)100%); 
}

 .navBar-List{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
} 

.navBar-List-Link a{
    text-decoration: none;
    color: rgb(30, 15, 240);
    
}

.navBar-link{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.container-card-class{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 1%;
    transition: all 3s;
    margin-top: 2%; 
}

.itemCard{
    background-color: rgb(226, 206, 117);
    max-width: 100%;
    height: 18rem;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
} 

.itemCard:hover{
    transform: scale(1.02, 1.02);
  cursor: pointer;
}

.cat-style, [data-reach-menu-list], [data-reach-menu-items]{
 background-color: rgba(34,193,195,1);
 display: flex;
 flex-direction: row;
 background-color: rgba(34,193,195,1);
 border-radius: 10%;
 color:rgb(30, 15, 240);
 font-size: 1.5rem;
} 


.cat-style:hover{
    background-color:  rgba(34,193,195,1);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.btn-detail-item{
    font-size: large;
    border-radius: 30% 60%;
    background-color: aquamarine;
    color:rgb(30, 15, 240);
    font-weight: 500;
    height: 2rem;
    margin-top: 1.5%;
    margin-bottom: 1%;
}

.btn-min, .btn-max{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color:  rgba(34,193,195,1);
    color:rgb(30, 15, 240);
    font-size: 1.5rem;
    font-weight: bold;
    width: 30%;
    border-radius: 20% 50%;
}

.btn-add-cart{
    background-color:  rgba(34,193,195,1);
    color: rgb(30, 15, 240);
    font-weight: bold;
    width: 50%;
    height: 2rem;
    border-radius: 20% 70%;
    margin-top: 1%;
    margin-bottom: 1%;
}
.contador-click{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 25rem;
    height: 2rem;
}
.num-item{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    width: 50%;
}
.i-detail-product{
    height: 80vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    font-size: 1.5rem;
}

.card-img-style{
    padding-left: 2%;
    border-radius: 30% 50%;
    width: 30rem;
    height: 30rem; 
     
}
.card-img-style-i{
    border-radius: 20% 50%;
    width: 150px;
    height: 8rem; 
    max-width: 60%;
}
.i-list-detail{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(226, 206, 117);
    width: 50%;
    height: auto;
    border-radius: 10%;
    
}

.carrito-container, .carrito-container-total{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
width: 50%;
margin-left: auto;
margin-right: auto;
margin-top: 3%;
font-size: 1.3rem;
font-weight: bold;
border: 2px solid rgb(226, 206, 117);
}

.carrito-container-total{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}


.form-style{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
    font-weight: 600;
    color: rgb(30, 15, 240);
    margin-left: auto;
    margin-right: auto;
    width: 30rem;
    height: 20rem;
    margin-top: 3%;
}

 .form-style_input {
outline: none;
border-color: rgb(226, 206, 117);
background: none;
text-align: center;
border-radius: 30%;
}

.footer-style{
    position:static;
    height: 5rem;
    max-width: 100%;
    margin-top: 2%;
    background: linear-gradient(135deg, rgba(253,247,45,1)  20%, rgba(34,193,195,1)100%); 
}